@model DAL.Models.Containerobj

@{
    ViewData["Title"] = "UpdateContainer";
}

<div class="row">
    <div class="col-md-4" style="background: darkgray; position: absolute; margin: 44px 0px 0px 258px;">

        @using (Html.BeginForm())
        {
            <div class="form-horizontal">
                <h4>Container</h4>
                @Html.HiddenFor(model => model.ContainerID)
                <div class="form-group">
                    @Html.LabelFor(model => model.Code, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danager" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Color, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Color, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Color, "", new { @class = "text-danager" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Save" class="btn btn-success" />
                    </div>
                    
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <a asp-action="Index">Back to List</a>
                    </div>
                </div>
            </div>
        }
    </div>
    @if (TempData["Message"] != null)
    {
        <div id="message">
            @TempData["Message"]
        </div>
    }
</div>



<style>
    div#message {
        background: red;
        width: 30%;
        padding: 11px 0px 12px 37px;
        text-align: center;
        color: white;
        font-weight: bolder;
    }

    form {
        margin: 25px 26px 26px 0px;
        position: unset;
    }
</style>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
