@model IEnumerable<DAL.Models.Containerobj>

@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                </ul>
            </nav>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.ContainerNumber)
                        </th>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.Code)
                        </th>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.Color)
                        </th>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.DateAdded)
                        </th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.ContainerNumber)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Code)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Color)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DateAdded)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.ContainerID">Edit</a>
                                |
                                <a asp-action="Delete" asp-route-id="@item.ContainerID">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    @if (TempData["Message"] != null)
    {
        <div id="message">
                @TempData["Message"]
        </div>
    }
</div>

<style>
    ul.pagination {
        padding: 6px 0px 0px 836px;
        margin: 6px 5px 0px 0px;
        width: 100%;
    }

    div#message {
        background: green;
        width: 30%;
        padding: 11px 0px 12px 37px;
        text-align: center;
        color: white;
        font-weight: bolder;
    }
</style>

<script>
    toast.show();
</script>